<a href="https://colab.research.google.com/github/salarbalou/Data_Analysis_Projects/blob/main/Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://raw.githubusercontent.com/profteachkids/CHE5136_Fall2021/main/maintenance_log.txt

--2022-04-26 22:51:58--  https://raw.githubusercontent.com/profteachkids/CHE5136_Fall2021/main/maintenance_log.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26025250 (25M) [text/plain]
Saving to: ‘maintenance_log.txt’

maintenance_log.txt 100%[===================>]  24.82M  88.1MB/s    in 0.3s

2022-04-26 22:51:59 (88.1 MB/s) - ‘maintenance_log.txt’ saved [26025250/26025250]

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('/content/maintenance_log.txt')
df.head()

        start         end equipment      task     name       cost
0  2018-10-26  2018-11-09  ReactorA  Overhaul  Corrine  791158.32
1  2018-02-19  2018-03-03     TankE   Inspect  Corrine      88.50
2  2020-04-05  2020-04-09   HeaterC   Inspect    Garek      42.78
3  2019-07-15  2019-07-24  ReactorD  Overhaul   George  570538.03
4  2020-07-29  2020-08-02  ReactorE  Overhaul  Corrine  925844.80

In [4]:
df=df.astype({'equipment':'category','name':'category','cost':'float64','start':'datetime64[ns]', 'end':'datetime64[ns]'})
df.dtypes

start        datetime64[ns]
end          datetime64[ns]
equipment          category
task                 object
name               category
cost                float64
dtype: object

In [5]:
df['days']=(df['end']-df['start']).dt.days

In [6]:
df2=df.set_index(['start','equipment','task','name'])
df2.sort_index(inplace=True)
idx = pd.IndexSlice

In [7]:
df2.loc[idx['2020-05-30':'2020-06-5',['ColumnA','TankA'],'Inspect',:]]

                                            end     cost  days
start      equipment task    name
2020-05-30 TankA     Inspect Carlos  2020-06-22   143.84    23
                             Garek   2020-06-02    77.28     3
                             Garek   2020-06-07    98.42     8
                             Garek   2020-06-10    79.35    11
                             George  2020-06-24    89.89    25
                             George  2020-06-27   130.46    28
2020-05-31 ColumnA   Inspect Corrine 2020-06-07  3468.26     7
                             Corrine 2020-06-04  2937.23     4
                             George  2020-06-08  3581.79     8
           TankA     Inspect Garek   2020-06-24    86.58    24
                             George  2020-06-05    99.68     5
2020-06-01 ColumnA   Inspect Carlos  2020-06-02  5907.91     1
                             Corrine 2020-06-15  2835.13    14
                             Garek   2020-06-28  3464.02    27
                             George  2020-06-30  4456.70    29
           TankA     Inspect Carlos  2020-06-02   150.15     1
                             Garek   2020-06-16    75.85    15
                             Garek   2020-06-26    73.94    25
                             Garek   2020-06-27    81.45    26
                             George  2020-06-11    99.18    10
2020-06-02 ColumnA   Inspect Corrine 2020-06-03  3144.51     1
                             Garek   2020-06-17  3922.37    15
                             Garek   2020-06-23  3916.98    21
                             George  2020-06-09  4831.32     7
           TankA     Inspect George  2020-06-07   103.62     5
                             George  2020-06-19   137.30    17
                             George  2020-06-12   134.38    10
2020-06-03 ColumnA   Inspect Carlos  2020-06-12  5777.15     9
                             Corrine 2020-06-28  3036.71    25
                             Corrine 2020-06-20  2732.40    17
           TankA     Inspect Corrine 2020-06-17    71.26    14
                             George  2020-07-01   114.08    28
                             George  2020-06-13   111.43    10
2020-06-04 ColumnA   Inspect Carlos  2020-06-13  5410.58     9
                             Corrine 2020-06-28  3466.57    24
                             Corrine 2020-07-02  2959.88    28
           TankA     Inspect George  2020-06-18   112.34    14
2020-06-05 ColumnA   Inspect Corrine 2020-07-01  3536.11    26
                             Garek   2020-07-04  3606.62    29
                             George  2020-06-30  5143.00    25
                             George  2020-06-30  5249.10    25
                             George  2020-06-14  5541.29     9
           TankA     Inspect Garek   2020-06-30    81.81    25
                             Garek   2020-06-09    87.65     4
                             George  2020-06-08   106.63     3

In [8]:
df3=pd.pivot_table(data=df,values=['cost','days'],columns=['equipment','task','name'],aggfunc=['mean','min','max'])

In [9]:
df3

                   mean                                            \
equipment       ColumnA
task              Clean
name             Carlos       Corrine         Garek        George
cost       60144.905952  32009.036082  36155.856258  44057.145121
days          15.264848     14.986998     14.701637     15.068598

                                                                              \
equipment
task           Inspect                                              Overhaul
name            Carlos      Corrine        Garek       George         Carlos
cost       6020.869453  3196.571422  3601.287970  4386.648900  603459.148713
days         14.975639    14.909673    15.103549    14.392664      14.602633

                          ...      max                                   \
equipment                 ...    TankE
task                      ...    Clean          Inspect
name             Corrine  ...    Garek   George  Carlos Corrine   Garek
cost       320695.457017  ...  1490.77  1734.47  235.92  126.81  142.31
days           15.152672  ...    29.00    29.00   29.00   29.00   29.00


equipment
task               Overhaul
name       George    Carlos   Corrine     Garek    George
cost       175.38  23693.26  12993.15  14033.56  18094.94
days        29.00     29.00     29.00     29.00     29.00

[2 rows x 900 columns]

In [10]:
df4=df3.stack([1,2,3])

In [11]:
df5=df4[['mean','max','min']]
df5['mean']=df5['mean'].round(2)

In [12]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    print(df5.loc[idx['cost']])

                                  mean         max         min
equipment task     name
ColumnA   Clean    Carlos     60144.91    79446.17    39690.27
                   Corrine    32009.04    42106.09    18588.96
                   Garek      36155.86    48773.48    24556.11
                   George     44057.15    58251.52    30040.48
          Inspect  Carlos      6020.87     7905.60     3827.61
                   Corrine     3196.57     4459.63     2150.85
                   Garek       3601.29     4830.86     2416.30
                   George      4386.65     5624.07     2814.01
          Overhaul Carlos    603459.15   794259.92   396776.99
                   Corrine   320695.46   452068.59   204947.36
                   Garek     360755.72   470618.96   212992.56
                   George    438865.51   630600.23   297077.91
ColumnB   Clean    Carlos     90017.18   116899.34    62486.25
                   Corrine    48059.47    62564.81    32096.54
                   Garek      53918.84    75587.73    35423.96
                   George     65937.42    89684.60    46407.89
          Inspect  Carlos      8969.71    12297.90     6040.26
                   Corrine     4805.54     6461.43     3272.33
                   Garek       5398.62     7226.49     3593.39
                   George      6565.56     8897.87     4226.46
          Overhaul Carlos    901394.41  1246515.45   609569.84
                   Corrine   480068.78   625775.30   336725.52
                   Garek     540867.92   748285.60   365159.43
                   George    663677.51   858542.81   407209.93
ColumnC   Clean    Carlos    120277.77   161234.76    79396.14
                   Corrine    63814.78    87735.72    42407.59
                   Garek      72071.08    94498.68    49620.82
                   George     87710.57   113420.31    57530.73
          Inspect  Carlos     12004.11    15618.91     8091.83
                   Corrine     6403.12     8637.64     4221.57
                   Garek       7207.56     9312.50     4694.30
                   George      8775.20    11525.41     5989.77
          Overhaul Carlos   1195860.74  1602069.86   836164.01
                   Corrine   640741.18   875941.32   437727.36
                   Garek     720862.56   960794.01   502771.49
                   George    882337.99  1166125.95   588027.39
ColumnD   Clean    Carlos     29950.31    40054.90    21184.13
                   Corrine    16006.01    20855.23    10219.51
                   Garek      17924.62    24369.09    11028.61
                   George     22056.74    30317.54    15847.39
          Inspect  Carlos      2992.31     3886.82     2068.87
                   Corrine     1598.49     2053.95      987.48
                   Garek       1808.68     2475.86     1180.66
                   George      2193.32     3037.24     1483.93
          Overhaul Carlos    299167.46   400695.09   195214.39
                   Corrine   159744.04   212885.34   104866.71
                   Garek     180416.20   232715.73   119393.04
                   George    220069.00   299737.41   121799.42
ColumnE   Clean    Carlos     72099.45   101234.70    49878.33
                   Corrine    38550.49    52353.98    23955.21
                   Garek      43147.04    57603.44    30657.21
                   George     52859.68    72492.33    35860.99
          Inspect  Carlos      7201.06     9949.97     5116.75
                   Corrine     3849.61     5069.42     2505.90
                   Garek       4315.44     5684.78     3017.82
                   George      5281.78     7107.78     3704.57
          Overhaul Carlos    716062.94  1008024.57   479436.10
                   Corrine   382817.35   503448.50   245763.82
                   Garek     431036.42   590384.96   301165.43
                   George    528350.92   695195.40   371097.38
HeaterA   Clean    Carlos       299.74      395.99      198.65
                   Corrine      159.61      211.39      107.90
                   Garek        179.87      262.58      115.15
                   George       219.58      286.61      126.77
          Inspect  Carlos        30.16       38.71       20.04
                   Corrine       15.97       20.98       10.12
                   Garek         17.97       24.56       11.69
                   George        22.05       30.51       15.14
          Overhaul Carlos      2999.02     3907.02     1819.36
                   Corrine     1597.62     2047.11     1044.32
                   Garek       1805.02     2472.68     1234.50
                   George      2204.14     3101.65     1492.72
HeaterB   Clean    Carlos       451.42      604.31      323.40
                   Corrine      240.89      323.87      158.10
                   Garek        270.17      359.05      175.32
                   George       330.00      447.44      216.68
          Inspect  Carlos        45.09       59.03       30.60
                   Corrine       24.03       31.14       15.77
                   Garek         27.12       36.60       16.76
                   George        32.99       44.41       23.20
          Overhaul Carlos      4474.63     5987.40     2754.96
                   Corrine     2400.05     3344.10     1547.41
                   Garek       2694.43     3806.62     1774.60
                   George      3306.35     4551.31     2057.47
HeaterC   Clean    Carlos       600.91      831.50      431.06
                   Corrine      320.06      405.97      207.15
                   Garek        359.29      456.74      230.71
                   George       441.18      595.53      297.04
          Inspect  Carlos        59.74       78.97       40.25
                   Corrine       31.95       45.30       20.57
                   Garek         36.08       46.76       25.38
                   George        43.91       57.52       30.27
          Overhaul Carlos      5986.89     8002.28     4232.21
                   Corrine     3210.82     4221.07     2126.52
                   Garek       3580.63     4852.80     2422.38
                   George      4398.10     5829.40     2923.76
HeaterD   Clean    Carlos       150.21      210.92      100.14
                   Corrine       79.93      110.32       54.68
                   Garek         89.82      119.00       61.41
                   George       109.46      142.13       74.34
          Inspect  Carlos        14.96       19.94        9.58
                   Corrine        8.04       10.46        5.59
                   Garek          9.00       12.24        6.06
                   George        11.00       14.72        6.93
          Overhaul Carlos      1500.03     2008.43      876.73
                   Corrine      799.22     1058.30      556.61
                   Garek        901.34     1202.02      532.82
                   George      1096.26     1449.04      745.21
HeaterE   Clean    Carlos       358.86      473.56      221.41
                   Corrine      191.63      249.38      120.26
                   Garek        215.97      294.40      129.30
                   George       264.11      361.81      181.50
          Inspect  Carlos        35.93       49.51       23.96
                   Corrine       19.21       25.78       12.34
                   Garek         21.60       28.85       14.15
                   George        26.45       35.16       17.68
          Overhaul Carlos      3601.83     4724.07     2404.19
                   Corrine     1911.20     2649.34     1269.80
                   Garek       2161.82     2975.24     1284.15
                   George      2637.17     3391.03     1731.52
PumpA     Clean    Carlos       751.98     1003.51      469.40
                   Corrine      400.22      527.60      273.34
                   Garek        450.49      587.07      296.08
                   George       548.72      724.26      370.60
          Inspect  Carlos        74.96       98.28       50.88
                   Corrine       39.89       53.03       28.82
                   Garek         44.96       62.41       30.23
                   George        55.04       72.83       37.18
          Overhaul Carlos      7511.94     9878.14     5157.13
                   Corrine     4005.24     5206.77     2578.37
                   Garek       4490.88     5899.01     2671.88
                   George      5504.67     7228.18     2902.31
PumpB     Clean    Carlos      1126.84     1564.46      711.68
                   Corrine      599.83      820.50      396.20
                   Garek        673.28      911.29      435.87
                   George       826.99     1100.21      520.74
          Inspect  Carlos       111.64      150.38       72.24
                   Corrine       59.88       81.52       41.62
                   Garek         67.30       90.13       44.35
                   George        82.37      106.38       52.18
          Overhaul Carlos     11251.86    15450.97     7755.31
                   Corrine     5989.01     7932.70     4113.50
                   Garek       6768.68     8927.42     4200.88
                   George      8245.18    11094.35     5459.08
PumpC     Clean    Carlos      1498.80     2018.68      931.16
                   Corrine      798.62     1052.21      494.81
                   Garek        898.41     1165.33      640.06
                   George      1101.11     1426.20      696.87
          Inspect  Carlos       149.46      202.11       94.88
                   Corrine       80.07      108.52       50.24
                   Garek         90.06      121.06       60.28
                   George       109.73      147.78       60.76
          Overhaul Carlos     14970.64    21348.43    10298.82
                   Corrine     7989.11    10525.34     5314.99
                   Garek       8971.79    12184.85     6137.38
                   George     10964.92    14938.91     6883.44
PumpD     Clean    Carlos       373.37      503.81      233.91
                   Corrine      199.27      262.16      131.26
                   Garek        224.97      294.41      149.57
                   George       274.40      359.00      197.89
          Inspect  Carlos        37.72       50.68       25.01
                   Corrine       20.05       26.65       13.99
                   Garek         22.49       31.83       14.58
                   George        27.44       37.17       16.17
          Overhaul Carlos      3746.49     4806.33     2502.96
                   Corrine     1992.59     2625.36     1302.79
                   Garek       2238.52     2886.40     1361.88
                   George      2743.09     3560.09     1864.66
PumpE     Clean    Carlos       898.60     1185.29      612.15
                   Corrine      480.18      637.32      315.64
                   Garek        539.97      706.11      367.77
                   George       658.26      866.68      423.97
          Inspect  Carlos        90.00      121.63       50.05
                   Corrine       48.01       64.66       31.20
                   Garek         54.06       70.52       36.07
                   George        65.72       88.06       43.90
          Overhaul Carlos      9012.08    11670.73     6006.71
                   Corrine     4785.84     6395.92     3180.77
                   Garek       5408.20     7403.98     3612.19
                   George      6614.29     8629.02     4174.59
ReactorA  Clean    Carlos    149968.05   205392.93    99931.08
                   Corrine    80067.13   104669.56    54583.49
                   Garek      90155.38   117339.62    60949.66
                   George    110051.98   143655.92    71983.62
          Inspect  Carlos     14977.26    19875.33    10144.08
                   Corrine     7996.16    10799.75     5337.10
                   Garek       9011.15    12114.88     6128.58
                   George     11034.74    14618.70     8056.95
          Overhaul Carlos   1503752.38  2067369.51  1025509.06
                   Corrine   800682.43  1062872.85   509824.43
                   Garek     897693.62  1231488.74   600428.98
                   George   1101970.74  1465000.70   609825.59
ReactorB  Clean    Carlos    224580.69   288614.67   147904.51
                   Corrine   119636.08   159992.06    72374.53
                   Garek     135581.47   172675.00    95916.48
                   George    165013.90   217147.02   114708.55
          Inspect  Carlos     22537.71    30706.82    14807.79
                   Corrine    12047.58    15838.88     7865.04
                   Garek      13480.32    18094.32     8630.60
                   George     16525.52    21894.30    10795.53
          Overhaul Carlos   2259328.06  2912716.83  1544011.85
                   Corrine  1201845.83  1608771.33   801520.25
                   Garek    1352090.85  1860142.43   917697.36
                   George   1650283.80  2183926.27  1126025.93
ReactorC  Clean    Carlos    299817.18   395400.49   188111.75
                   Corrine   159821.82   223564.97   109530.19
                   Garek     179874.07   233394.28   122912.22
                   George    220135.92   283319.79   155119.76
          Inspect  Carlos     29917.85    40321.40    18625.25
                   Corrine    16042.34    22041.95     9753.80
                   Garek      17965.54    23558.14    11881.69
                   George     22118.65    29200.90    13295.79
          Overhaul Carlos   3009032.75  3944611.39  1840492.01
                   Corrine  1600878.23  2245120.56  1077789.48
                   Garek    1797769.69  2402699.58  1265745.73
                   George   2208789.35  2932016.24  1533372.74
ReactorD  Clean    Carlos     74832.84    96222.61    46885.72
                   Corrine    39973.13    53266.46    28189.80
                   Garek      44780.35    61294.80    27133.01
                   George     54928.76    71792.63    34878.58
          Inspect  Carlos      7482.14     9628.22     4671.32
                   Corrine     3999.42     5245.25     2539.94
                   Garek       4509.02     5805.13     2973.84
                   George      5512.36     7569.31     3496.94
          Overhaul Carlos    748504.16   998518.16   450297.68
                   Corrine   399751.60   544912.47   288327.90
                   Garek     448781.55   635483.09   321904.47
                   George    548977.22   732763.73   340446.15
ReactorE  Clean    Carlos    180405.90   239374.15   119835.10
                   Corrine    96269.35   127046.70    64198.32
                   Garek     108040.60   148594.29    66407.09
                   George    132013.99   173411.24    83423.85
          Inspect  Carlos     17975.16    24443.05    12362.04
                   Corrine     9621.99    12587.57     6231.39
                   Garek      10809.63    14796.39     6634.21
                   George     13165.60    17006.10     8221.34
          Overhaul Carlos   1803957.95  2512323.61  1189978.50
                   Corrine   963194.61  1351084.89   624642.52
                   Garek    1077286.03  1458949.62   720283.62
                   George   1322793.96  1782230.16   878031.65
TankA     Clean    Carlos      1502.96     1986.73      940.34
                   Corrine      799.27     1055.35      527.37
                   Garek        899.34     1254.45      586.33
                   George      1107.40     1477.26      695.71
          Inspect  Carlos       149.93      206.44      106.84
                   Corrine       80.06      107.26       52.35
                   Garek         89.83      117.58       62.98
                   George       109.94      150.27       71.85
          Overhaul Carlos     15036.00    19946.94    10000.62
                   Corrine     8002.68    10700.23     5535.60
                   Garek       8975.75    11920.78     6002.44
                   George     10965.92    14698.97     7365.92
TankB     Clean    Carlos      2244.47     2998.13     1510.09
                   Corrine     1199.82     1603.19      838.60
                   Garek       1351.89     1786.92      861.50
                   George      1643.35     2188.89     1134.18
          Inspect  Carlos       223.99      311.80      153.27
                   Corrine      120.31      155.19       81.34
                   Garek        135.24      174.76       84.88
                   George       164.43      218.09      103.65
          Overhaul Carlos     22578.99    30819.13    14988.85
                   Corrine    11948.29    15609.16     8041.34
                   Garek      13529.19    17725.01     8903.01
                   George     16542.57    22270.16    10483.33
TankC     Clean    Carlos      3011.75     4006.07     2089.81
                   Corrine     1598.06     2191.02     1032.69
                   Garek       1797.18     2455.26     1220.02
                   George      2199.42     2905.45     1587.17
          Inspect  Carlos       299.98      393.41      201.16
                   Corrine      160.42      225.68      106.90
                   Garek        179.53      256.99      113.92
                   George       220.29      284.42      119.42
          Overhaul Carlos     30082.45    40165.65    19183.69
                   Corrine    15975.50    20672.30    10504.67
                   Garek      17970.22    23826.93    12028.85
                   George     21958.58    28522.64    15046.41
TankD     Clean    Carlos       750.15     1046.42      519.59
                   Corrine      401.20      541.06      284.20
                   Garek        447.45      603.56      298.90
                   George       550.03      708.22      359.96
          Inspect  Carlos        75.00       98.49       50.06
                   Corrine       40.11       55.56       26.73
                   Garek         44.98       58.69       29.86
                   George        55.01       71.63       36.40
          Overhaul Carlos      7519.36     9605.51     5233.81
                   Corrine     3992.02     5192.03     2650.51
                   Garek       4505.96     6197.51     2981.05
                   George      5487.84     7243.91     2839.43
TankE     Clean    Carlos      1798.09     2505.68     1143.44
                   Corrine      956.53     1295.77      660.65
                   Garek       1080.85     1490.77      762.00
                   George      1317.63     1734.47      867.81
          Inspect  Carlos       180.80      235.92      114.36
                   Corrine       96.16      126.81       62.57
                   Garek        108.06      142.31       61.45
                   George       131.83      175.38       87.73
          Overhaul Carlos     18074.14    23693.26    11905.92
                   Corrine     9648.32    12993.15     6216.13
                   Garek      10793.46    14033.56     7644.48
                   George     13213.99    18094.94     9097.01

In [13]:
def f(x):
    return x.startswith('Column')

df5[df5.index.get_level_values('equipment').map(f)].loc[idx['cost']]

                                  mean         max        min
equipment task     name
ColumnA   Clean    Carlos     60144.91    79446.17   39690.27
                   Corrine    32009.04    42106.09   18588.96
                   Garek      36155.86    48773.48   24556.11
                   George     44057.15    58251.52   30040.48
          Inspect  Carlos      6020.87     7905.60    3827.61
                   Corrine     3196.57     4459.63    2150.85
                   Garek       3601.29     4830.86    2416.30
                   George      4386.65     5624.07    2814.01
          Overhaul Carlos    603459.15   794259.92  396776.99
                   Corrine   320695.46   452068.59  204947.36
                   Garek     360755.72   470618.96  212992.56
                   George    438865.51   630600.23  297077.91
ColumnB   Clean    Carlos     90017.18   116899.34   62486.25
                   Corrine    48059.47    62564.81   32096.54
                   Garek      53918.84    75587.73   35423.96
                   George     65937.42    89684.60   46407.89
          Inspect  Carlos      8969.71    12297.90    6040.26
                   Corrine     4805.54     6461.43    3272.33
                   Garek       5398.62     7226.49    3593.39
                   George      6565.56     8897.87    4226.46
          Overhaul Carlos    901394.41  1246515.45  609569.84
                   Corrine   480068.78   625775.30  336725.52
                   Garek     540867.92   748285.60  365159.43
                   George    663677.51   858542.81  407209.93
ColumnC   Clean    Carlos    120277.77   161234.76   79396.14
                   Corrine    63814.78    87735.72   42407.59
                   Garek      72071.08    94498.68   49620.82
                   George     87710.57   113420.31   57530.73
          Inspect  Carlos     12004.11    15618.91    8091.83
                   Corrine     6403.12     8637.64    4221.57
                   Garek       7207.56     9312.50    4694.30
                   George      8775.20    11525.41    5989.77
          Overhaul Carlos   1195860.74  1602069.86  836164.01
                   Corrine   640741.18   875941.32  437727.36
                   Garek     720862.56   960794.01  502771.49
                   George    882337.99  1166125.95  588027.39
ColumnD   Clean    Carlos     29950.31    40054.90   21184.13
                   Corrine    16006.01    20855.23   10219.51
                   Garek      17924.62    24369.09   11028.61
                   George     22056.74    30317.54   15847.39
          Inspect  Carlos      2992.31     3886.82    2068.87
                   Corrine     1598.49     2053.95     987.48
                   Garek       1808.68     2475.86    1180.66
                   George      2193.32     3037.24    1483.93
          Overhaul Carlos    299167.46   400695.09  195214.39
                   Corrine   159744.04   212885.34  104866.71
                   Garek     180416.20   232715.73  119393.04
                   George    220069.00   299737.41  121799.42
ColumnE   Clean    Carlos     72099.45   101234.70   49878.33
                   Corrine    38550.49    52353.98   23955.21
                   Garek      43147.04    57603.44   30657.21
                   George     52859.68    72492.33   35860.99
          Inspect  Carlos      7201.06     9949.97    5116.75
                   Corrine     3849.61     5069.42    2505.90
                   Garek       4315.44     5684.78    3017.82
                   George      5281.78     7107.78    3704.57
          Overhaul Carlos    716062.94  1008024.57  479436.10
                   Corrine   382817.35   503448.50  245763.82
                   Garek     431036.42   590384.96  301165.43
                   George    528350.92   695195.40  371097.38

In [14]:
df_Mondays=df2[df2.index.get_level_values('start').dayofweek==0]

In [15]:
df_Monday_pivot=pd.pivot_table(data=df_Mondays,values=['cost'],columns=['equipment','task','name'],aggfunc=['mean'])

In [16]:
df_Monday_pivot.stack([1,2,3])

                                         mean
     equipment task     name
cost ColumnA   Clean    Carlos   60781.905240
                        Corrine  32140.053096
                        Garek    36110.569150
                        George   44223.958755
               Inspect  Carlos    6040.615880
...                                       ...
     TankE     Inspect  George     132.085153
               Overhaul Carlos   18083.666206
                        Corrine   9652.829244
                        Garek    10820.031441
                        George   13157.748299

[300 rows x 1 columns]

In [17]:
dates=pd.date_range(start='28 Aug 2019', end='28 Aug 2021')

In [18]:
intervals = pd.arrays.IntervalArray.from_tuples(list(zip(df['start'],df['end'])))

In [19]:
for date in dates[:3]:
    print(df.loc[intervals.contains(date)])

            start        end equipment      task     name        cost  days
35     2019-08-24 2019-09-17   ColumnA     Clean   George    50059.43    24
68     2019-08-24 2019-09-11     TankB   Inspect  Corrine      120.10    18
177    2019-08-24 2019-09-15  ReactorE  Overhaul   George  1455350.32    22
262    2019-08-18 2019-09-10  ReactorC     Clean  Corrine   156902.53    23
354    2019-08-23 2019-09-05   ColumnC   Inspect    Garek     7235.32    13
...           ...        ...       ...       ...      ...         ...   ...
499163 2019-08-14 2019-09-01   ColumnC  Overhaul   George   892226.45    18
499171 2019-08-27 2019-09-13  ReactorC  Overhaul    Garek  1599498.88    17
499177 2019-08-24 2019-09-13     TankA   Inspect   Carlos      158.03    20
499722 2019-08-27 2019-08-30     TankA  Overhaul   Carlos    11632.39     3
499740 2019-08-27 2019-09-21     TankA   Inspect  Corrine       97.87    25

[4060 rows x 7 columns]
            start        end equipment      task     name        cost  days
35     2019-08-24 2019-09-17   ColumnA     Clean   George    50059.43    24
68     2019-08-24 2019-09-11     TankB   Inspect  Corrine      120.10    18
177    2019-08-24 2019-09-15  ReactorE  Overhaul   George  1455350.32    22
262    2019-08-18 2019-09-10  ReactorC     Clean  Corrine   156902.53    23
354    2019-08-23 2019-09-05   ColumnC   Inspect    Garek     7235.32    13
...           ...        ...       ...       ...      ...         ...   ...
499177 2019-08-24 2019-09-13     TankA   Inspect   Carlos      158.03    20
499200 2019-08-28 2019-08-30   ColumnB     Clean    Garek    46225.13     2
499467 2019-08-28 2019-09-04     TankE   Inspect  Corrine       81.59     7
499722 2019-08-27 2019-08-30     TankA  Overhaul   Carlos    11632.39     3
499740 2019-08-27 2019-09-21     TankA   Inspect  Corrine       97.87    25

[4029 rows x 7 columns]
            start        end equipment      task     name        cost  days
35     2019-08-24 2019-09-17   ColumnA     Clean   George    50059.43    24
68     2019-08-24 2019-09-11     TankB   Inspect  Corrine      120.10    18
177    2019-08-24 2019-09-15  ReactorE  Overhaul   George  1455350.32    22
262    2019-08-18 2019-09-10  ReactorC     Clean  Corrine   156902.53    23
354    2019-08-23 2019-09-05   ColumnC   Inspect    Garek     7235.32    13
...           ...        ...       ...       ...      ...         ...   ...
499177 2019-08-24 2019-09-13     TankA   Inspect   Carlos      158.03    20
499200 2019-08-28 2019-08-30   ColumnB     Clean    Garek    46225.13     2
499467 2019-08-28 2019-09-04     TankE   Inspect  Corrine       81.59     7
499722 2019-08-27 2019-08-30     TankA  Overhaul   Carlos    11632.39     3
499740 2019-08-27 2019-09-21     TankA   Inspect  Corrine       97.87    25

[4008 rows x 7 columns]